<html>
    <head></head>
    <body>
    
    <!-- TODO: add a div with anchor so that we can render it later-->
    <div id="app">
        
    </div>
    <!-- TODO: import vue-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- TODO: -->
    <script>
    /* Create a Vue instance*/
    new Vue({
        template: '<h1 style="color:purple; text-align:center; margin: 300px;">{{ name }}</h1>',
        data: function() {
            return {
                name: 'ch2c'
            }
        }
    }).$mount('#app');
    </script>
    </body>
</html>
