<html>

<head>
    <meta charset="utf-8">
    <style>
        table,
        td {
            border: 1px solid #333;
        }

        #zhongguancun-restaurants > table {
            margin-bottom: 50px;
        }

        thead,
        tfoot {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>

<body>
    <div id="zhongguancun-restaurants">
        <p>筛选：</p>
        <p>商圈热度<input v-model="destPopularityThreshold">分以上。</p>
        <p>店家评分<input v-model="restaurantScoreThreshold">分以上。</p>
        <table>
            <thead>
                <tr>
                    <th colspan="2">中关村创业大街</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>热度</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>热门美食</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>评分</th>
                                    <th>类别</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>马兰拉面</td>
                                    <td>3</td>
                                    <td>noodle</td>
                                </tr>
                                <tr>
                                    <td>醉面</td>
                                    <td>5</td>
                                    <td>noodle</td>
                                </tr>
                                <tr>
                                    <td>疙瘩汤</td>
                                    <td>5</td>
                                    <td>chinese</td>
                                </tr>
                                <tr>
                                    <td>杨国福</td>
                                    <td>4</td>
                                    <td>chinese</td>
                                </tr>
                                <tr>
                                    <td>东来顺</td>
                                    <td>5</td>
                                    <td>hotpot</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th colspan="2">中关村创业大街</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>热度</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>热门美食</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>评分</th>
                                    <th>类别</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>马兰拉面</td>
                                    <td>3</td>
                                    <td>noodle</td>
                                </tr>
                                <tr>
                                    <td>醉面</td>
                                    <td>5</td>
                                    <td>noodle</td>
                                </tr>
                                <tr>
                                    <td>疙瘩汤</td>
                                    <td>5</td>
                                    <td>chinese</td>
                                </tr>
                                <tr>
                                    <td>杨国福</td>
                                    <td>4</td>
                                    <td>chinese</td>
                                </tr>
                                <tr>
                                    <td>东来顺</td>
                                    <td>5</td>
                                    <td>hotpot</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th colspan="2">中关村创业大街</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>热度</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>热门美食</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>评分</th>
                                    <th>类别</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>马兰拉面</td>
                                    <td>3</td>
                                    <td>noodle</td>
                                </tr>
                                <tr>
                                    <td>醉面</td>
                                    <td>5</td>
                                    <td>noodle</td>
                                </tr>
                                <tr>
                                    <td>疙瘩汤</td>
                                    <td>5</td>
                                    <td>chinese</td>
                                </tr>
                                <tr>
                                    <td>杨国福</td>
                                    <td>4</td>
                                    <td>chinese</td>
                                </tr>
                                <tr>
                                    <td>东来顺</td>
                                    <td>5</td>
                                    <td>hotpot</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th colspan="2">中关村创业大街</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>热度</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>热门美食</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>评分</th>
                                    <th>类别</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>马兰拉面</td>
                                    <td>3</td>
                                    <td>noodle</td>
                                </tr>
                                <tr>
                                    <td>醉面</td>
                                    <td>5</td>
                                    <td>noodle</td>
                                </tr>
                                <tr>
                                    <td>疙瘩汤</td>
                                    <td>5</td>
                                    <td>chinese</td>
                                </tr>
                                <tr>
                                    <td>杨国福</td>
                                    <td>4</td>
                                    <td>chinese</td>
                                </tr>
                                <tr>
                                    <td>东来顺</td>
                                    <td>5</td>
                                    <td>hotpot</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#zhongguancun-restaurants",
            data: function() {
                return {
                    destPopularityThreshold: 0,
                    restaurantScoreThreshold: 3,

                    // Categories are: "noodle", "chinese", "hotpot", "western"
                    destinations: [
                        // 中关村创业大街
                        {
                            id: 1,
                            "name": "中关村创业大街",
                            "popularity": 5,
                            "restaurants": [
                                { id: 0, name: "马兰拉面", score: 3, category: "noodle" },
                                { id: 1, name: "醉面", score: 5, category: "noodle" },
                                { id: 2, name: "疙瘩汤", score: 5, category: "chinese" },
                                { id: 3, name: "杨国福", score: 4, category: "chinese" },
                                { id: 4, name: "东来顺", score: 5, category: "hotpot" }
                            ]
                        },
                        // 食宝街和欧美汇
                        {
                            id: 2,
                            "name": "食宝街和欧美汇",
                            "popularity": 4,
                            "restaurants": [
                                { id: 5, name: "站点披萨", score: 3, category: "western" },
                                { id: 6, name: "和府捞面", score: 3, category: "noodle" },
                                { id: 7, name: "鸭血粉丝汤", score: 4, category: "noodle" },
                                { id: 8, name: "蟑螂面条店", score: -10086, category: "noodle" }
                            ]
                        },
                        // 新中关
                        {
                            id: 3,
                            "name": "新中关",
                            "popularity": 4,
                            "restaurants": [
                                { id: 9, name: "澳门味道", score: 5, category: "chinese"},
                                { id: 10, name: "巴奴火锅", score: 3, category: "hotpot"},
                                { id: 11, name: "醉面", score: 5, category: "noodle"}
                            ]
                        },
                        // 北大南门
                        {
                            id: 4,
                            "name": "北大南门",
                            "popularity": 2,
                            "restaurants": [
                                { id: 12, name: "砂锅粥", score: 3, category: "chinese"},
                            ]
                        }
                    ]
                }
            },
            computed: {
                filteredDestinations: function() {
                    return this.destinations.filter( function(destination) {
                        return destination.popularity >= this.destPopularityThreshold
                    })
                }
            },
            methods: {
                restaurantFilter: function(restaurant) {
                    // YOUR CODE HERE
                }
            }
        })
    </script>
</body>


</html>