<html>
    <head>
    <style>

    .angry {
        color: red
    }

    .happy {
        color: violet
    }

    </style>
    </head>
    <body>

    <div id="app">
        <div v-bind:class="{angry: isAngry, happy: !isAngry }" :style="styleObject">
            <h1 v-if="!isAngry">ch2c is happy~</h1>
            <h1 v-else>ch2c is angry!!</h1>
            <button @click="toggleAnger">{{ isAngry ? "please" : "annoy" }} her</button>
        </div>
    </div>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script>
        
        new Vue({
            el: "#app",
            data: function () {
                return {
                    position: 'center',
                    isAngry: true,
                    styleObject: {
                        "text-align": this.position,
                        "margin": "300px",
                    }
                }
            },
            methods: {
                toggleAnger () {
                    this.isAngry = !this.isAngry;
                }
            }
        })
        
        </script>
    </body>
</html>
